#save-btn {
  background-color: #0075EC;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 45px;
  color: white;
  &:hover {
    border-color: #0075EC;
    color: #0075EC;
    background-color: white;
  }
  &:active {
    border-color: #0075EC;
    color: #0075EC;
    background-color: white;
  }
}

.ant-drawer-title {
  color:  #0075EC;
  font-size: 20px;
  text-align: center;
}

.ant-drawer-header {
  box-shadow: 0 0.5px 1px 0 grey;
}

.ant-drawer-close {
  .anticon.anticon-close {
    svg {
      color: #ff5943;
      font-weight: bold;
    }
  }
}



.ant-drawer-content {
  font-family: 'Montserrat', sans-serif;
}
